@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: "Poppins",sans-serif;
}
:root{
    --main-color:#e84242;
    --black-color:#0e0e0e;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}
body{
    background-color: var(--main-color);
    overflow-x: hidden;
}
section{
    padding:3.5rem 7%;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:0.8rem;
    background-color: white;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius:3rem;
    background-color: var(--black-color);
}

.btn{
    font-size:1.7rem;
    display: inline-block;
    margin-top:1rem;
    padding:2rem 3.75rem;
    border-radius: 30rem;
    color:#fff;
    background: var(--black-color);
    cursor: pointer;
}
.btn:hover{
    opacity:0.9;
}
.heading{
    color:#fff;
    text-transform: uppercase;
    font-size:4rem;
    border-bottom:0.1rem solid #fff;
    margin-bottom:3.5rem;
}
.heading span{
    color:var(--black-color);
    text-transform: uppercase;
}
.header .logo img{
    height:10rem;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right:7%;
    background-color: #fff;
    width:50rem;
    height:5rem;
    display:flex;
    align-items:center;
    border-radius:3rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 /75%);
    transform: scaleY(0);
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form i{
    font-size:2.2rem;
    color:var(--black-color);
    margin-right:1.5rem;
    cursor: pointer;
}
.header .search-form input{
    width:100%;
}
.header .cart-container{
    position:absolute;
    top:95%;
    width:45rem;
    height:calc(100vh - 9rem);
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
    right:-100%;
}
.header .cart-container.active{
    right:3rem;
}
.header .cart-items-container .cart-item{
    position:relative;
    display:flex;
    gap:1.5rem;
    padding:1.5rem;
    align-items:center;
}
.header .cart-items-container .cart-item img{
    height:7rem;
}
.header .cart-items-container .cart-item .fa-times{
    top:1rem;
    right:1.5rem;
    position:absolute;
    font-size:2rem;
    color:var(--black-color);
    cursor: pointer;
}
.header .cart-items-container .cart-item:hover{
    box-shadow: 0px 0px 10px 10px rgb(0,0,0,0.75);
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    padding-bottom:0.5rem;
    color:var(--black-color);
}
.header .cart-items-container .cart-item .content .price{
    color: var(--black-color);
    font-size:1.5rem;
}
.header .cart-items-container  .btn{
    width:100%;
    text-align: center;
    border-radius: unset;
}
.cart-container .btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.cart-container .btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.cart-container .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.cart-container .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-container .cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-container .cart-row:last-child .cart-column {
    border: none;
}

.cart-container .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-container .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-container .cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.cart-container .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-container .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-container .cart-row {
    display: flex;
}

.cart-container .cart-item {
    width: 45%;
}

.cart-container .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-container .cart-quantity {
    width: 35%;
}

.cart-container .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-container .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


.cart-container.active {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    margin: 1em;
}
.cart-container .section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size:11px;
  
}

.btn-danger:hover {
    background-color: #CC4C4C;
}
.header{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin:2rem 7%;
    border-radius: 30rem;
    box-shadow:0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top:0;
    z-index:1000;
}
.header .navbar a{
    margin:0 1rem;
    font-size:1.6rem;
    color:var(--black-color);
    border-bottom:0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover{
    border-color:var(--main-color);
    padding-bottom: 0.5rem;
}
.header .buttons button{
    cursor: pointer;
    font-size:2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    position: relative;
}
.home{
    min-height: 100vh;
    background: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display:flex;
    align-items: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size:6rem;
    color:#fff;
}
.home .content p{
    font-size: 2rem;
    font-weight:300;
    line-height:1.8;
    padding:1rem 0;
    color:#ccc;
}
.menu .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}
.menu .box-container .box img{
    width:100%;
    object-fit: cover;
}
.menu .box-container .box{
    padding:3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius:3rem;
    min-height: 60rem;
    justify-content: space-between;
}
.menu .box-container .box .menu-category{
    font-size:1.2rem;
    text-transform: lowercase;
}
.menu .box-container .box h3{
    font-size:3rem;
    padding:1rem 0;
}
.menu .box-container .box .price{
    font-size:2.5rem;
    padding:0.5rem 0;
}
.menu .box-container .box .price span{
    text-decoration: line-through;
    font-weight: 300;
    font-size:1.5rem;
}
.products .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}
.products .box-container .box{
    text-align:center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:3rem;
    height:60rem;
    padding:3rem;
    position: relative;
}
.products .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index:10;
}
.products .box-container .box .box-head .title{
    font-size:1.4rem;

}
.products .box-container .box .box-head .name{
    font-size:4rem;
    font-weight:bold;
    text-align: start;
    overflow-wrap: anywhere;
}
a{
    color: var(--black-color);
    text-decoration: none;
}
.products .box-container img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:3rem;
    object-fit: cover;
    width:100%;
}
.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg  .box-head .title{
    color:#fff;
}
.products .box-container .dark-bg img{
    transform: unset;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.products .box-container .box-bottom{
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:10;
    position:relative;
}
.products .box-container .box-bottom .info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.products .box-container .box-bottom .info .price{
    font-size:3rem;
}
.products .box-container .box-bottom .info .amount{
    font-size:1.4rem;
}
.products .box-container  .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount{
    color:#fff;
}
.products .box-container  .box-bottom .product-btn a{
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:50%;
    width:6.5rem;
    height:6.5rem;
    border:0.2rem solid var(--main-color);
}
.products .box-container .box-bottom .product-btn a i{
    color:var(--main-color);
    font-size: 1.6rem;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row img{
    width: 100%;
}
.about .row{
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
}
.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3{
    font-size:3rem;
    color:#fff
}
.about .row .content p{
    font-size:1.6rem;
    padding:1rem 0;
    color:#ccc;
    line-height:1.8rem;
}
.review .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}
.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
    border-radius:3rem;
    background-color: #fff;
}
.review .box-container .box p{
    font-size:1.5rem;
    line-height: 1.8;
    padding:2rem 0;
}
.review .box-container .box .user{
    height:7rem;
    width:7rem;
    border-radius:50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding:1rem 0;
    font-size:2rem;
    color:var(--main-color);
}
.review .box-container .box .stars i{
    font-size:1.5rem;
    color:gold;
}
.contact .row{
    display:flex;
    background-color: var(--black-color);
    flex-wrap:wrap;
    gap:1rem;
}
.contact .row .map{
    flex:1 1 45rem;
    object-fit: cover;
    width:100%;
}
.contact .row form{
    text-align: center;
    padding:5rem 2rem;
    flex:1 1 45rem;
}
.contact .row form h3{
    font-size:3.5rem;
    color:#fff;
    text-transform: uppercase;
}
.contact .row form .inputBox{
    display:flex;
    border: var(--border);
    align-items: center;
    margin:2rem 0;
}
.contact .row form .inputBox i{
    color:#fff;
    font-size:2rem;
    padding-left:2rem;
}
.contact .row form .inputBox input{
    font-size:1.7rem;
    width:100%;
    padding:2rem;
    background-color: transparent;
    text-transform: none;
    color:#fff;
}
.contact .row form .btn{
    color: var(--main-color);
    font-weight: bold;
    background-color: #fff;
}
.blogs .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}
.blogs .box-container .box{
    background-color: #fff;
    border-radius:3rem;
}
.blogs .box-container .box .image{
    width:100%;
    height:25rem;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.blogs .box-container .box .image img{
    object-fit: cover;
    height:100%;
    width:100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    
    padding: 2rem;
}
.blogs .box-container .box .content .title{
    font-size:2.5rem;
    line-height: 1.5;;
}
.blogs .box-container .box .content span{
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box-container .box .content p{
    color:#ccc;
    padding-top: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.8;
}
.footer{
    background-color: var(--black-color);
    text-align: center;
}
.footer .search{
    display:flex;
    justify-content: center;
}
.footer .search .search-input{
    width:30%;
}
.footer .search .btn-primary{
    background-color: var(--main-color);
    margin-left: 1rem;
    padding: 1rem 2rem;
}
.search-input{
    font-size: 1.6rem;
    border-radius: 3rem;
    text-transform: none;
    color:var(--black-color);
    padding:1rem;
}
.footer .share{
    padding:2rem 0;
}
.footer .share a{
    height:5rem;
    width:5rem;
    font-size: 2rem;
    line-height: 5rem;
    color:#fff;
    border: var(--border);
    border-radius: 50%;
    margin:0.3rem;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
}
.footer .links a{
    background-color: var(--main-color);
    padding:0.7rem 2rem;
    font-size:2rem;
    color:#fff;
    border: var(--border);
}
.footer .links a:hover{
    background-color: var(--black-color);
    opacity: 0.7;
}
.footer .links a.active{
    background-color: var(--black-color);
}
.footer .credit{
    font-size: 2rem;
    font-weight: 300;
    padding-top: 1.5rem;
    color:#fff;
}
.footer .credit span{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
@media(max-width:991px){
    html{
        font-size:55%;
    }
    .header .logo img{
        height:7rem;
    }
    section{
        padding:2rem;
    }
    .header{
        padding:1.5rem 2rem;
    }
    .products .box-container .box .box-head .name{
        font-size:3.4rem;
    }
    .header .cart-container{
        right:-200%;
    }
    .header .cart-container.active{
        right:-4rem;
    }
}
@media(max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 95%;
        width:30rem;
        background-color: #fff;
        height:calc(100vh-9rem);
        box-shadow: 0 20px 14px 0 rgb(0 0 0 /75%);
        right:-100%;

    }
    .header .navbar a{
        display: block;
        margin:1.5rem;
        color: var(--black-color);
        padding:0.5rem;
        font-size:2rem;
    }
    .header .navbar.active{
        right:3rem;
    }
}
@media(max-width:576px){
    html{
        font-size: 50%;
    }
    .header .search-form {
        width: 30rem;
    }
 
}

.qty {
    position: absolute;
    right: -15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
  }